body{
    margin: 0;
}

.input-field{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    margin-left: 50px;
}

.header-container{
    background-color: rgb(16, 90, 124);
    height: 100px;
    display: flex;
    align-items: center;
}


.canvas-wraper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.canvas-container{
    border: 1px solid;
    width: 69rem;
    height: 37rem;    
}

.download-button{
    width: 125px;
    height: auto;
    border-radius: 30px;
    background-color: black;
    color: white;
    margin-bottom: 30px;
    font-size: larger;
}

#header-copied {
    position: absolute;
    top: 0;
    left: 50%;
}

#footer-copied{
    position: absolute;
    top: 90%;
    left: 50%;
}

.footer-container{
    background-color: rgb(89, 47, 144);
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    justify-content: flex-end;
    padding-right: 125px;
    position: fixed;
    bottom: 0;
    width: 100% ;
}

.para-pading{
    padding: 82px;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.placeholder-margin{
    margin-right: 7px;
}